# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-ptc.desktop

[Desktop Entry]
Comment=Lightweight Pesetacoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-ptc %u"
GenericName[en_US]=Pesetacoin Wallet
GenericName=Pesetacoin Wallet
Icon=electrum_ptc
Name[en_US]=Electrum Pesetacoin Wallet
Name=Electrum Pesetacoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-ptc
Terminal=false
Type=Application
MimeType=x-scheme-handler/pesetacoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\"; electrum-ptc --testnet %u"
Name=Testnet mode
